<div id="photoDiv" class="ml-lg-5 mt-lg-5  ">
    <div class="imgClass d-flex justify-content-center" >
        <img src="~/Images/cartoon-flat-funny-british-policeman-character-blue-helmet-hat-uniform-boy-shaking-hands-showing-welcome-gesture_109998-1587.jpg" height="300" width="400" style="display:inline-block" />
    </div>
    <div class=" d-flex justify-content-center mt-lg-5 ">
        <h4 style="font-style:oblique;color:darkblue">Welcome to Management Informational System!</h4>
    </div>
</div>
