
#recordStatus {
    color: darkblue ;
    padding: 2px 2px 2px 2px;
    border:solid;
    border-color:aliceblue;
    font-style:oblique;
}


.center-aligment {
    display: flex;
    align - items:center;
    justify - content:center;
}

#descriptionArea
{   
    margin-top:50px;
    border:groove;
    padding:10px 10px 10px 10px;
    font-style:oblique;
    border-color:darkblue;
    color:darkblue;
    font-size:19px;
}

.list-group
{   
    color:aliceblue;
    padding:5px 5px 5px 5px;
    text-align:center;
}

#mySpan {
    background-color:aliceblue;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#detailsA
{
    cursor:pointer;
}