
#recordStatus {
    color: #374f6b;
    padding: 2px 2px 2px 2px;
    font-style: oblique;
}


.center-aligment {
    display: flex;
    align - items:center;
    justify - content:center;
}

#descriptionArea {
    margin-top: 50px;
    border: groove;
    padding: 10px 10px 10px 10px;
    font-style: oblique;
    border-color: #374f6b;
    color: #374f6b;
    font-size: 19px;
}

.list-group {
    color: #374f6b;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#mySpan {
    background-color: red;
    color: #374f6b;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

#detailsA
{
    cursor:pointer;
}

.carusel-item {
    height: 200rem;
    background: #374f6b;
    color: white;
    position: relative;
}

#myContainer
{
    position:absolute;
    button:0;
    left:0;
    right:0;
    padding-bottom:50px;
}

.carouss
{
    padding:10px 10px 10px 10px;
    box-shadow:2px 2px 2px 2px;
    margin-top:12px;
}