.request{
    display : flex;
    align-items:center;
    margin-bottom : 5px;
    padding : 5px 0px;
    
}
.request:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.request-info{
    display : flex;
    flex-direction : column;
    font-size: 14px;
}

.request-info-user {
    color: #35cd96;
    font-size: inherit;
}

.request-info-date{
    color : inherit;
    font-size : inherit;
}

.request-options{
    margin-left : auto;
}

.request-options-accept ,  .request-options-decline {
    display: inline-block;
    text-decoration: none;
    padding : 4px 8px;
    border-radius : 4px;
}

.request-options-accept {
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #3367d6;
    background-color: #fff;
}

.request-options-decline {
    color: #eee;
    background-color: #374f6b;
}

.request-options-accept:hover, .request-options-decline:hover {
    text-decoration: none
}

.request-options-decline:hover {
    color: #eee;
}