.zoom {
    padding: 50px;
    transition: transform .5s; 
    width: 200px;
    height: 200px;
    margin: 0 auto;
    
}

.zoom:hover {
        transform: scale(1.15);
    }

.c4rd {
    border-radius : 25px;
    
}

