.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #fff;
}

.record-content{
    display : flex;
    align-items : center;
}

.record-details {
    flex-basis: 30%;
}

.record-details > * {
    color: #777;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 5px;
    
}

.record-status-enable, .record-status-close {
    border: none;
    background-color: #fff;
    display: inline-block;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #3367d6;
    padding: 5px 10px;
    transition: all .2s;
    border-radius: 4px;
}

.record-status-close {
    margin-left: 10px;
}

.record-details-status {
}

.record-change-status:active {
    transform: translateY(-2px);
}


.type-icon {
    cursor: pointer;
    color: #3367d6;
    margin-left: 5px;
    font-size: 16px;
}

.modify-type {
    width: 50%;
    margin-top: 10px;
}

.modify-type > input {
    display: none;
}


.record-documents{
    flex-basis : 100%;
    height : 20rem;
    padding : 30px 10px;
    overflow-y : scroll;
}

.record-documents-header{
    display : flex;
    align-items : center;
    border-bottom : 1px solid #eee;
    padding-bottom : 0px;
    
}

.record-documents-text {
    color : #777;
    font-weight : 700;
    font-size : 18px;
    text-transform : uppercase;
}

.record-documents-add {
    margin-left: auto;
    display: inline-block;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #3367d6;
    padding: 5px 10px;
    cursor : pointer;
    border-radius: 4px;
}


.add-policeman{
    display : flex;
    align-items : center;
}


.record-document{
    border : 1px solid #eee;
    width : 30%;
    margin-right : 3%;
    display : inline-block;
    height : 8.5rem;
    margin-top : 15px;
    
}

.record-document-photo {
    width: 100%;
    height: 60%;
    object-fit: cover;
    cursor : pointer;
}

.record-document-info {
    border-top: 3px solid #eee;
    margin-top: 10px;
    height : 32%;
    padding: 5px 10px;
    display: flex;
    align-items : center;
    justify-content: space-between;

}

.record-document-name{
    color : #777;
    font-size : 14px;
}

.record-document-date{
    color : #777;
    font-size : 14px;
}

.record-document-delete {
    text-decoration: none !important;
    display: inline-block;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #fff;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    background-color: #374f6b;
}

.record-document-delete:hover{
    color : #fff;
}


.add-policeman-form{
    margin-top : 20px;
}





::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .03);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .1);
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, .1);
    }