@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<input type="hidden" name="Id" id="editPolicemanId" />
<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="editPolicemanName" placeholder="Name" name="Name">
</div>
<div class="form-group">
    <label for="Type">Email</label>
    <input type="text" class="form-control" id="editPolicemanEmail" placeholder="Email" name="Email">
</div>

@*<div class="form-group">
    <label for="Description">Description</label>
    <textarea class="form-control" id="editRecordDescription" rows="3" placeholder="Description.." name="Description"></textarea>
</div>*@
<button class="btn btn-police btn-police-rounded">Update</button>