@using MIS.ViewModels.Meeting
@model ChatViewModel

<link href="~/css/chat.css" rel="stylesheet" />


<div class="chat-container">
    <div class="chat-header">
        <div class="chat-name">@Model.Topic  <div class="chat-members-nr"><i class="fas fa-user"></i> <span id="usersConnected">0</span> online</div></div>
        <span class="chat-end-date"><i class="far fa-clock"></i> @Model.End.ToString("HH:mm")</span>

    </div>
    <div class="chat-body" id="chat-body">
    </div>

    <div class="chat-footer">
        <input class="chat-input" id="chatInput" />
        <i id="sendMessage" class="fas fa-caret-right chat-send-icon " onclick="sendMessage(event , '@Model.Name' , '@Model.Id')"></i>
    </div>
</div>




<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>