
@{
    ViewData["Title"] = "Index";
}
<link href="~/css/meeting.css" rel="stylesheet" />

<button class="btn btn-police btn-add" data-toggle="modal" data-target="#newMeeting"><i class="fas fa-plus-circle icon" ></i> Meeting </button>

<div class="meetings">
    <div class="meeting-day">
        <div class="meeting-day-date-container">
            <span class="meeting-day-date">15/4/2021</span>
        </div>
        <div class="meeting">
            <div class="meeting-info">
                <span class="meeting-name"><i class="fas fa-comment"></i> Consulting</span>
                <span class="meeting-hour"><i class="far fa-clock"></i> 12:30</span>
                <div class="meeting-info-buttons">

                    <button class="btn btn-attendees"><i class="bi bi-person-circle"></i> Attendees</button>
                    <a href="#" class="btn meeting-join meeting-started">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Join
                    </a>
                </div>
            </div>
        </div>
        <div class="meeting">
            <div class="meeting-info">
                <span class="meeting-name"><i class="fas fa-comment"></i> Consulting</span>
                <span class="meeting-hour"><i class="far fa-clock"></i> 12:30</span>
                <div class="meeting-info-buttons">

                    <button class="btn btn-attendees"><i class="bi bi-person-circle"></i> Attendees</button>
                    <a href="#" class="btn meeting-join">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Join
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meeting-day">
        <div class="meeting-day-date-container">
            <span class="meeting-day-date">15/4/2021</span>
        </div>
        <div class="meeting">
            <div class="meeting-info">
                <span class="meeting-name"><i class="fas fa-comment"></i> Consulting</span>
                <span class="meeting-hour"><i class="far fa-clock"></i> 12:30</span>
                <div class="meeting-info-buttons">

                    <button class="btn btn-attendees"><i class="bi bi-person-circle"></i> Attendees</button>
                    <a href="#" class="btn meeting-join">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Join
                    </a>
                </div>
            </div>
        </div>
        <div class="meeting">
            <div class="meeting-info">
                <span class="meeting-name"><i class="fas fa-comment"></i> Consulting</span>
                <span class="meeting-hour"><i class="far fa-clock"></i> 12:30</span>
                <div class="meeting-info-buttons">

                    <button class="btn btn-attendees"><i class="bi bi-person-circle"></i> Attendees</button>
                    <a href="#" class="btn meeting-join">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Join
                    </a>
                </div>
            </div>
        </div>
        <div class="meeting">
            <div class="meeting-info">
                <span class="meeting-name"><i class="fas fa-comment"></i> Consulting</span>
                <span class="meeting-hour"><i class="far fa-clock"></i> 12:30</span>
                <div class="meeting-info-buttons">

                    <button class="btn btn-attendees"><i class="bi bi-person-circle"></i> Attendees</button>
                    <a href="#" class="btn meeting-join">
                        <i class="bi bi-box-arrow-in-right"></i>
                        Join
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="newMeeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-action="" asp-controller=""  onkeyup="return event.key != 'Enter';"  onkeypress="return event.key != 'Enter';"  onkeydown="return event.key != 'Enter';">
                    <div class="form-group">
                        <label >Topic</label>
                        <input class="form-control" />
                    </div>
                    <div class="form-group">
                        <label >Participants</label>
                        <input class="form-control" onkeyup="addParticipant(event,this.value)" />
                        <ul id="participantsList" class="participants-list">
                           
                        </ul>
                    </div>
                    <button class="btn btn-police">Submit</button>
                </form>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="attendeesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="attendeesBody">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>