<div class="tf-tree tf-gap-lg">
    <ul>
        <li>
            <span class="tf-nc">1</span>
            <ul>
                <li>
                    <span class="tf-nc">2</span>
                    <ul>
                        <li><span class="tf-nc">4</span></li>
                        <li><span class="tf-nc">5</span></li>
                    </ul>
                </li>
                <li>
                    <span class="tf-nc">3</span>
                    <ul>
                        <li><span class="tf-nc">6</span></li>
                        <li><span class="tf-nc">7</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="col">
    <input type="submit" class="btn btn-info w-100" value="Create" />
</div>

